.list-inline {
  overflow: auto;
  white-space: nowrap;
}

.list-inline-item {
  width: 214px;
}

span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.navbar {
  margin-bottom: 10px;
}
