<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a routerLink="/" class="navbar-brand" [appFocus]="hasFocus(0, 0)">Home</a>
    <a routerLink="/history" [appFocus]="hasFocus(1, 0)">History</a>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let movie of movies; let i = index">
          <a href="javascript:void(0)" (click)="play(movie)" [appFocus]="hasFocus(i, 1)">
            <img [src]="movie.images[0].url" alt="" />
            <span>{{movie.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
